<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>orlique</name>
	<displayName><![CDATA[Orlique]]></displayName>
	<version><![CDATA[1.2.2]]></version>
	<description><![CDATA[Silbersaiten Order Manager]]></description>
	<author><![CDATA[]]></author>
	<tab><![CDATA[Silbersaiten]]></tab>
	<is_configurable>0</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>