@charset "utf-8";
/* CSS Document */
.prestalove-easy-menu {
	float:left;
	width: 100%;
}
#header .prestalove-easy-menu {
	margin: 20px 0 0;
}
.pl-easy-menu {
	float:left;
	width: 100%;
	text-align: left;
	background: url(img/nav-bg.png) 0 0 repeat-x;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 0 3px #333;
    -webkit-box-shadow: 0 0 3px #333;
    box-shadow: 0 0 3px #333;
}

#pl-menu-0 {
	position: relative;
}

.pl-easy-menu ul li.backLava {
	background: #488C40;
	height: 32px;
	z-index: 8;
	width:29px;
	position: absolute;	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.sf-menu {
  margin:0;
}
.sf-menu li {
	z-index:10;
	background: url(img/nav-link-border.png) right center no-repeat;
	padding-right: 3px;
}
.sf-menu a {
  padding: 0px 30px;
  line-height: 36px;
  color: #eee;
  text-shadow: -1px -1px 2px #333333;
  font-weight: bold;
  font-size: 110%;
  font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
}
.sf-menu a:hover,
.sf-menu a.active,
.sf-menu li.sfHover a {
  background: url(img/nav-link-hover.png);
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	top: 1.4em;
}
.sf-menu ul {
	background: #7e7e7e;
	margin: 20px 0;
	padding: 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #999;
	width: 15em;
}
.sf-menu ul li {
	border-bottom: 1px solid #999;
	background: none;
	padding: 0;
}
.sf-menu ul li.last {
	border: none;
}
.sf-menu ul a,
.sf-menu li.sfHover ul a {
  background: none;
  padding: 10px;
  text-transform: none;
  text-shadow: none;
  font-weight: normal;
  line-height: normal;
}

.sf-menu li.sfHover ul li a.active,
.sf-menu li.sfHover ul li a:hover {
  background: url(img/nav-link-hover.png);
}

/* Vertical menu */
#left_column,
#right_column {
  overflow: visible;
}
.pl-easy-menu {
	-moz-box-shadow: 0 0 2px #aaa;
    -webkit-box-shadow: 0 0 2px #aaa;
    box-shadow: 0 0 2px #aaa;
}
#left_column .sf-vertical ul, #right_column .sf-vertical ul {
  width: 14em;
  right: -14.2em;
}
.sf-vertical li:hover ul,
.sf-vertical li.sfHover ul {
  right: -14.2em;
  top: -1em;
}
#left_column .sf-vertical li:hover ul,
#right_column .sf-vertical li.sfHover ul {
  right: -14.2em; /* match ul width*/
  top: -1em;
}
.sf-vertical, .sf-vertical li {
  width: 100%;
}
.sf-vertical.pl-easy-menu {
  background: none;
  margin: 0 0 20px 0;
}
.sf-vertical.pl-easy-menu li {
  background: #D0D3D8;
  border-bottom: 1px solid #aaa;
  padding: 0;
  z-index:1;
}
.sf-vertical.pl-easy-menu li.last {
  border: none;
}
.sf-vertical.pl-easy-menu a {
  color: #374853;
  text-shadow: none;
}